{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/github",
    "@semantic-release/npm",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalCommits",
        "releaseRules": [
          {
            "breaking": true,
            "release": "major"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          },
          {
            "type": "build",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalCommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "revert",
              "section": "Reverts"
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "Code Refactors",
              "hidden": false
            },
            {
              "type": "test",
              "section": "Tests",
              "hidden": false
            },
            {
              "type": "build",
              "section": "Build System",
              "hidden": false
            },
            {
              "type": "ci",
              "section": "CI/CD",
              "hidden": false
            }
          ]
        }
      }
    ]
  ]
}
