name: CI

on:
  push:
    branches:
      - main
      - dev

jobs:
  ci:
    name: Commit Lint → Lint → Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Setup Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.mjs

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run Angular lint
        run: yarn lint

      - name: Run Angular test
        run: yarn test

      - name: Run Angular build
        run: yarn build

      - name: Release
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
