name: CI

on:
  push:
    branches:
      - main
      - dev

jobs:
  ci:
    name: Commit Lint → Lint → Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Setup Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.mjs

      - name: Install dependencies
        run: npm ci

      - name: Run Angular lint
        run: npm run lint

      - name: Run Angular test
        run: npm run test

      - name: Run Angular build
        run: npm run build

      - name: Release
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
